<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../images/favicon_io-purple/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../images/favicon_io-purple/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../images/favicon_io-purple/favicon-16x16.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./readyPage.css" />
    <title>َWelcome Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row quiz-container">
        <!-- Left Section -->
        <div class="left-section">
          <img
            src="../../images/126.jpg"
            alt="Background"
            class="background-image"
          />
        </div>

        <!-- Right Section -->
        <div class="right-section">
          <div class="quiz-content">
            <h2 class="quiz-header">Welcome Ahmed! I hope you are ready</h2>
            <div class="instructions">
              <h1>Exam Instructions</h1>
              <ul>
                <li>
                  <strong>Read Carefully:</strong> Please read all the
                  instructions below before starting the exam.
                </li>
                <li>
                  <strong>Time Limit:</strong> The exam has a time limit of 3
                  minutes. Ensure you manage your time wisely.
                </li>
                <li>
                  <strong>Questions:</strong> There are a total of 5 questions.
                  All questions are mandatory.
                </li>
                <li>
                  <strong>Navigation:</strong> Use the 'Next' and 'Previous'
                  buttons to navigate between questions.
                </li>
                <li>
                  <strong>Submission:</strong> Once you complete the exam, click
                  the 'Submit' button to finalize your answers.
                </li>
                <li>
                  <strong>Flagging Questions:</strong>If you want to save a
                  question for later, click the flag icon (🚩) next to the
                  question.
                </li>
                <li>
                  <strong>No Cheating:</strong> Any form of cheating will result
                  in disqualification.
                </li>
              </ul>
              <button id="goToPageQuestion" class="next-btn global-btn">
                Start <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="readyPage.js"></script>
  </body>
</html>
