body {
  overflow-y: hidden;
}
.main-body {
  height: 100vh;
}

/**** Responsive-Handling ****/
@media (max-width: 768px) {
  .main-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  .RightSide {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }

  .card {
    width: 100%;
    height: fit-content;
  }
  .LeftSide {
    display: none;
  }
}
